node_modules
.npm
.pnpm-store

# Next.js
.next
out
build

# NestJS
dist

# MacOS
.DS_Store

# Git
.git
.gitignore

# Environment Variables
.env
.env.*
!.env.example

# App specific
apps/**/node_modules
apps/**/dist
apps/**/.next
apps/**/out
packages/**/node_modules
packages/**/dist
