# Database
DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require

# Redis (Upstash)
REDIS_URL=rediss://default:password@upstash-endpoint.upstash.io:6380

# Google Drive API
GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_REFRESH_TOKEN=your-refresh-token
GOOGLE_DRIVE_FOLDER_ID=your-google-drive-folder-id

# App
PORT=3001
API_PREFIX=api
CORS_ORIGIN=http://localhost:3000
